@import 'tailwindcss';

@font-face {
	font-family: 'Derivia';
	src:
		url('/fonts/derivia.woff2') format('woff2'),
		url('/fonts/derivia.woff') format('woff'),
		url('/fonts/derivia.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'CrimsonFoam';
	src: url('crimson.eot');
	src:
		url('crimson.eot?#iefix') format('embedded-opentype'),
		url('crimson.woff') format('woff'),
		url('crimson.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

@theme {
	--font-crimson: 'CrimsonFoam', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-serif: 'Derivia', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-sans:
		'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';

	--color-paper: #fdfcf0;
	--color-black: #0c0a09;
	--color-green: #9fa890;
	--color-green-dark: #63714e;
	--color-green-dark-2: #788e56;
	--color-red-light: #d380ae;
	--color-red: #d599bc;
	--color-red-dark: #663852;
	--color-violet: #9f88c2;
	--color-blue: #bac8e0;
	--color-blue-dark: #4e6792;
	--color-purple-light: #c6c8e9;
	--color-purple: rgb(174, 172, 226);
	--color-purple-dark: #626497;
	--color-purple-black: #4a4b6e;

	--shadow-tenue: inset 0px -4px 12px 0px #0000000d;
}

@layer base {
	:root {
		color: var(--color-black);
		background-color: var(--color-purple-light);
	}
}

@layer components {
	.responsive-text {
		@apply text-sm md:text-base lg:text-lg;
	}
	.input {
		@apply w-full rounded-lg bg-white px-4 py-2.5 outline-none;
		&:hover {
			box-shadow: 0 0 0 4px #ffb7009d;
		}
		&:focus {
			box-shadow: 0 0 0 4px #ffb700;
		}
	}
	.link {
		@apply font-medium hover:underline;
	}
}

@layer utilities {
	.mw {
		@apply mx-auto max-w-300;
	}
	.btn {
		@apply relative flex cursor-pointer items-center justify-center gap-2 overflow-hidden rounded-full px-8 py-4 text-center leading-none font-semibold tracking-tight transition active:scale-95 disabled:cursor-not-allowed disabled:opacity-50;
	}
	.btn > * {
		@apply relative z-1;
	}
	.btn > svg {
		@apply shrink-0;
	}
	.btn-purple {
		@apply bg-purple text-purple-dark before:bg-purple-light;
	}
	.btn-red {
		@apply bg-red-light text-red-dark before:bg-red;
	}
	.btn-green {
		@apply bg-green-dark text-white before:bg-green-dark-2;
	}
	.btn::before {
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 0;
		content: '';
		width: 120%;
		left: -10%;
		transform: skew(30deg);
		transition: transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
	}
	.btn:hover::before {
		transform: skew(30deg) translate3d(50%, 0, 0);
	}
	.btn:disabled::before {
		transform: none;
	}
}
